@media(max-width:768px){
    .about-us{
        flex-direction: column;
    }
    .about-us img{
        flex: 0 100%;
        max-width: 100%;
    }
    .content{
        flex: 0 100%;
        max-width: 100%;
        padding: 15px;
    }
    .why img{
        flex: 0 100%;
        max-width: 100%;
    }
}

*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color:white;
}
.heading{
    text-align: center;
    margin-top: 25px;
}
.heading h1{
    font-size: 50px;
    color: black;
    margin-bottom: 10px;
}
.heading p{
    font-size: 20px;
    color: black;
    margin-bottom: 50px;
}
/* .about-us{
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
}
.about-us img{
    flex: 0 50%;
    max-width: 50%;
    height: auto;
}
.content{
    padding: 35px;
}
.content h2{
    color: #121521;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    line-height: 1.4;
}
.content p{
    color: black;
    font-size: 18px;
    line-height: 1.5;
    margin: 15px 0px;
} */
.read-more-btn{
    display: inline-block;
    color: #fff;
    background-color: rgba(0, 124, 157, 0.9);
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s ease;
}
/* .read-more-btn:hover{
    background-color:; */

.why{
    background-color: whitesmoke;
}

.heading2{
    text-align: center;
    margin-top: 25px;
}
.heading2 h1{
    font-size: 50px;
    color: black;
    margin-bottom: 10px;
}
ul {
    text-align: left;
    color: black;
    font-size: 18px;
    line-height: 1.5;
    margin: 15px 0px;
}
.heading3{
    text-align: center;
    margin-top: 25px;
}
.heading3 h1{
    font-size: 50px;
    color: black;
    margin-bottom: 10px;
}
.navbar-nav a {
    color: rgba(0, 124, 157, 0.9);
    /* font-weight: bold; */
    /* font-size: 18px;
    margin-left: 12px;
    margin-right: 52px; */
    margin: 0px 7px;
}
header {
    /* background-color: rgba(98, 131, 150, 255); */
    /* background-color: #628396; */
    /* background-color: white;   */
    position: sticky;
    background-color: rgb(236,236,236);
    top: 0;
    z-index: 1;
}

.nav-link:hover{
    display: block;
    background-color: rgba(0, 124, 157, 0.9);
    color: white;
}
.logo{
    /* position: absolute; */
    /* top: 0px; */
    height: 50px;
    margin-left: 7px;
}
.functions h2{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 50px;
    color: black;
}
.function img {
    width: 75px;
    margin-top: 25px;
    margin-left: 20px;
}
.card .card-flyer img{
    overflow: hidden;
}
.card .card-flyer:hover img {
    opacity: 0.8;
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}
.card-text{
    height: 100px;
}
.card .card-flyer {
    background: #FFFFFF;
    margin-top: 5px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.card .card-flyer:hover {
    background: #ffffff;
    box-shadow: 0px 5px 8px 5px rgba(0, 0, 0, 0.50);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 5px;
}
.common-title .heading::before {
    content: "";
    clear: both;
    display: table;
    height: 3px;
    width: 50px;
    background-color: rgba(0, 124, 157, 0.9);
    margin: 0 auto 4px;
}
.common-title .heading {
    /* color: var(--heading-color); */
    font-size: 36px;
    line-height: 46px;
    /* font-family: var(--heading-font); */
    font-weight: 600;
    /* display: table; */
    letter-spacing: 2px;
}
.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-top-20 {
    padding-top: 20px;
}
.cct{
    text-align: center;
}
.px-0{
    padding-left: 0;
    padding-right: 0;
}

.about-us-section .heading {
    margin: 0 auto;
}

.common-title .heading {
    /* color: var(--heading-color); */
    font-size: 36px;
    line-height: 46px;
    /* font-family: var(--heading-font); */
    font-weight: 600;
    display: table;
    letter-spacing: 2px
}
.cct p {
    width: 80%;
    margin: 0 auto;
    display: block;
}
p{
    hyphens: auto;
    /* margin-bottom: 10px; */
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
}
.cct p {
    width: 58%;
    margin: 0 auto;
    display: block;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.bggrn {
    background-color: #F5F8F9;
}
.about-img-two img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.about-content-two .top-title {
    color: black;
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
}
h2{
    color: #121521;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    line-height: 1.4;
}
.about-content-two h2 {
    font-size: 40px;
    margin-bottom: 20px;
}
p {
    font-size: 15px;
    margin-bottom: 15px;
    line-height: 1.8;
}
.statics {
    display: flex;
    padding-top: 5px;
    justify-content: center;
}
.bg-white {
    background: #fff ;
    color: #373534 ;
}
.stats_div {
    margin: 0 auto;
}

.width_77_per {
    width: 77%;
}
.border-none {
    border: 0 ;
}
.padding-20 {
    padding: 20px ;
}
.fs-24 {
    font-size: 24px;
}

.fw-500 {
    font-weight: 500;
}
.color-blue-128 {
    color: rgba(0, 124, 157, 0.9);
}
img {
    vertical-align: middle;
}

img {
    border: 0;
}
footer{
    background-color: rgba(0, 124, 157, 0.9);
}